<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预览</title>
    <!-- 引入element样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/showData.js"></script>
    <!-- 引入vue-->
    <script src="/js/vue.js"></script>
    <!-- 引入element组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

</head>
<body onload="getPaper()">
<div id="exam"></div>
<script>
    function getPaper() {
        var a = sessionStorage.getItem("id");
        sessionStorage.removeItem("id");
        axios({
            method: "get",
            url: "http://127.0.0.1:8080/teacher/paper_preview",
            params: {
                id: a
            }
        }).then(function (res) {
                examdiv = document.getElementById('exam');
                while (examdiv.hasChildNodes()) {
                    examdiv.removeChild(examdiv.firstChild);
                }
                t = res.data.questions;
                i = 0;
                while (t[i] != null) {
                    if (t[i].analysisEnabled) anl = t[i].analysis;
                    else anl = "无";
                    if (t[i].type == "single" || t[i].type == "multiple") showData1(t[i].id, t[i].type, t[i].title, t[i].choiceA, t[i].choiceB, t[i].choiceC, t[i].choiceD, t[i].answer, anl, 0);
                    else if (t[i].type == "judge") showData2(t[i].id, t[i].type, t[i].title, "Yes", "No", t[i].answer, anl, 0);
                    else showData3(t[i].id, t[i].type, t[i].title, t[i].answer, anl, 0);
                    i++;
                }
            })
    }
</script>
</body>
</html>